# Cache directories
embedding_cache/
__pycache__/
.pytest_cache/

# Model files
*.gguf

# Environment
.env
venv/

# IDE
.vscode/
.idea/

# Misc
.DS_Store

litellm_key.txt
db/
models/
gemma3_questions_filtered_tmp_with_2cat.csv
gemma3_questions_filtered_tmp.csv
gemma3_questions_filtered.csv
gemma3_balanced_sample_tmp.csv
gemma3_balanced_sample.csv
gemma3_questions_filtered_tmp_with_2cat_concise.csv
